nav{
    display: flex;
    background-color: white;
    justify-content: space-between;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
}

body{
    margin: 0px;
    background-image: url(../img/pattern.png);
}

ul{
    list-style-type: none;
}

li{
    display: inline;
    margin-right: 20px;
    font-weight: bold;
}

a{
    text-decoration: none;
}

main{
    margin: 80px 150px 40px;
    padding: 30px;
    background-color: white;
}
h1{
    text-align: center;

}

article{
    margin-top: 10px;
    border-bottom: 3px solid black;
}

footer{
    background-color:black;
    padding: 10px;

}
h5{
    text-align: center;
    color: white;
}